body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAf6f6 5px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.profile-picture {
  height: 175px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  color: #40514E;
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 700px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 700px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  overflow: auto;
}

.css-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.html-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  color: #11999E;
}

.flaticon {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  margin: 50px 0;
}
.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.BUTTON_HBI {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FDFDFD;
   font-family: 'Montserrat';
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 0 1px 20px #000000;
   border: solid #66BFBF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

.BUTTON_HBI:hover {
   background: #1E62D0;
   border: solid #66BFBF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
